body {
  background-image: url(black-hole.jpg);
}
h1 {
  font-family: sans-serif;
  margin-left: 20%;
  text-decoration: underline;
  color: white;
}
img {
  padding-top: 10%;
}
.logo {
  margin-left: 20%;
}
.other {
  font-family: monospace;
  background-color: black;
  color: white;
  padding-left: 20%;
  padding-top: 2px;
  padding-bottom: 2px;
}
#back {
  padding-left: 20%;
  padding-right: 20%;
}
.q {
  font-family: monospace;
  color: #black; 
  font-size: normal;
  padding-left: 20%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20%;
  padding-right: 20%;
}
